@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-font{
    font-family: 'Bebas Neue', cursive;
}

*>*{
    font-family: 'Raleway', sans-serif;
}

.bg-img{
    background-image:  linear-gradient(rgba(4, 51, 22, 0.85), rgba(21, 59, 36, 0.85)),
                        url("https://media.istockphoto.com/id/1305168588/photo/us-currency-and-finance-concept-yellow-american-dollar-sign-glowing-amid-black-american.jpg?b=1&s=170667a&w=0&k=20&c=m_X1D2_4axEwr2HKr5oCGycq5O2BEqNjVgHRAh1-cAw=");
    background-size: cover;
}
